@font-face {
	font-family: Qwitcher;
	src: url(/fonts/Qwitcher/QwitcherGrypen-Regular.ttf);
}

@font-face {
	font-family: black-ops;
	src: url(/fonts/Black-ops/BlackOpsOne-Regular.ttf);
}

@font-face {
	font-family: Sedgwick;
	src: url(/fonts/Sedgwick/SedgwickAveDisplay-Regular.ttf);
}

@font-face {
	font-family: Barriecito;
	src: url(/fonts/Barriecito/Barriecito-Regular.ttf);
}
