@font-face {
	font-family: barriecito;
	src: url('../fonts/barriecito/barriecito-Regular.ttf');
}

@font-face {
	font-family: black-ops;
	src: url('../fonts/black-ops/blackOpsOne-Regular.ttf');
}

@font-face {
	font-family: qwitcher;
	src: url('../fonts/qwitcher/qwitcherGrypen-Regular.ttf');
}

@font-face {
	font-family: sedgwick;
	src: url('../fonts/sedgwick/sedgwickAveDisplay-Regular.ttf');
}

.select-font-family option[value='barriecito'] {
	font-family: barriecito;
}

.select-font-family option[value='black-ops'] {
	font-family: black-ops;
}

.select-font-family option[value='qwitcher'] {
	font-family: qwitcher;
}

.select-font-family option[value='sedgwick'] {
	font-family: sedgwick;
}
